
/* ===== Base ===== */
body { font-family: 'Roboto', sans-serif; background-color: #f5f3e1; color: #696969; }
h1, h2 { font-family: 'Roboto Slab', serif; }
hr {
    border-top: 1px solid #CCC;
    width: 75%;
}

/* forms */
select,
input[type="text"],
input[type="email"],
.button {
    background: #FFF;
    padding: .5em;
    border: 1px solid #696969;
    border-radius: 5px;

    /* prevent lngeth causing sidescroll */
    max-width: 100%;
}

/* ===== Layout ===== */
/* outer layout & theme */
.container {
    max-width: 800px;
    margin: 2em auto;
    text-align: center;
}
.main {
    padding: 2em;
    overflow: auto;
    background: #FFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); 
}
h1 { margin-top: 0; }
footer { text-align: center; }
footer a { color: #696969; }

/* ===== Modules ===== */

/* buttons */
.button {
    background: #696969;
    color: #FFF;
    cursor: pointer;
}
